.myContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    h1{
        font-size: 3rem;
        text-decoration: underline;
        color: blue;
    }
}